

    <mat-toolbar class="toolbarColor">
      <a href="/"><div class="logo-image"></div></a>
      <!-- <div></div> -->
      <span class="example-spacer"></span>
      <!-- <div *ngIf="this.user"> -->
        <!-- <button>{{user.firstName}}</button> -->

        <button mat-icon-button class="example-icon"
        aria-label="Example icon-button with home icon"
        [routerLink]="['/home']" routerLinkActive="active">
        <mat-icon>home</mat-icon></button>

        <button mat-icon-button class="example-icon"
        aria-label="Example icon-button with explore icon"
        [routerLink]="['/services']" routerLinkActive="active">
        <mat-icon>explore</mat-icon></button>

        <button mat-icon-button class="example-icon"
        aria-label="Example icon-button with account_circle icon"
        [routerLink]="['/user/profile']" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon></button>
      <!-- </div> -->
    </mat-toolbar>
